@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(118.23deg, #0060F0 1.58%, #7D97BD 99.13%);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}

header nav {
    background: rgba(217, 217, 217, 0.1);
    width: 100vw;
    height: 12vh;
    margin-bottom: 10px;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    font-size: 25px;
    font-family: 'Sarala', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #D4EDFC;
}

.menu a:hover {
    background-color: rgba(217, 217, 217, 0.1);
    padding: 25px;
    border-radius: 40px;
    transition: 0.2s;
}

main {
    display: flex;
    background: rgba(217, 217, 217, 0.1);
    height: 73vh;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo h1{
    font-family: 'Sarala', sans-serif;
    color: #D4EDFC;
    font-size: 30px;
}

.corpo h2 {
    font-family: 'Sanchez', serif;
    color: #f7f7f7;
    font-size: 50px;
    margin-bottom: 25px;
}

.corpo h3 {
    font-family: 'sarala', sans-serif;
    color: #f7f7f7;
    padding-bottom: 10px;
    font-size: 25px;
}

.corpo p a {
    font-family: 'sarala', sans-serif;
    color: #f7f7f7;
    font-size: 20px;
    padding: 10px;
    line-height: 60px;
    border-radius: 50px;
}

.corpo p a:hover {
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
    transition: 0.3s;
}

main img {
    display: block;
    height: 350px;
}

footer {
    background: rgba(217, 217, 217, 0.1);
    margin-top: 10px;
    height: 11.5vh;
    width: 100vw;
    border-color: #3085f3;
}

footer p {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D4EDFC;
    font-style: italic;
    font-size: 17px;
}
